enummaker
support/enummaker/enummaker
glbdef.cpp
glbdef.h
linuxport/alphabet.bmp
linuxport/liveonce
linuxport/piecelist.map
linuxport/text.txt
linuxport/valley.map
linuxport/valley.sav

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
